[package]
name = "noriskclient"
version = "0.3.3"
description = "A NoRiskClient launcher for Minecraft, written in Rust using Tauri."
authors = ["NoRiskk"]
license = "GNU General Public License v3.0"
repository = "https://github.com/noriskclient/noriskclient-launcher"
edition = "2021"
rust-version = "1.57"

[build-dependencies]
tauri-build = { version = "1.4.0", features = [] }

[dependencies]
# Log
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["fmt", "env-filter"] }
tracing-appender = "0.2"

# Async IO
tokio = { version = "1", features = ["full"] }
futures = "0.3"

# File Watcher
tauri-plugin-fs-watch = { git = "https://github.com/tauri-apps/plugins-workspace", branch = "v1" }

# Error handling
anyhow = "1.0.69"
thiserror = "1.0"

# Generic
void = "1"
rand = "0.8.5"
directories = "4.0"
once_cell = "1.16.0"
open = "4.0.1"

# FS libs
async_zip = { version = "0.0.11", features = ["full"] }
tokio-tar = "0.3.0"
async-compression = { version= "0.3.15", features = ["gzip"] }
sanitize-filename = "0.4.0"
path-absolutize = "3.0.14"

# OS
os_info = "3"
sysinfo = "0.28.4"

# Data
regex = "1.7.0"
urlencoding = "2.1.2"
uuid = { version = "1.2", features = ["serde", "v4"] }
chrono = { version = "0.4", features = ["serde"] }

sha1 = "0.10.5"
base16ct = {version = "0.2.0", features = ["alloc"] }

# UI library
tauri = {version = "1.4.0", features = ["api-all", "updater"] }

# HTTP library
reqwest = { version = "0.11", features = ["json", "multipart"] }

# Framework for serializing and deserializing data
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.7.2"

# Support for the old authentication file
base64 = { version = "0.13" }
byteorder = { version = "1.4" }
dark-light = "1.0.0"
walkdir = "2.4.0"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
