<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIconName</key>
        <string>NoRiskLauncher</string>
        <key>NSCameraUsageDescription</key>
        <string>A Minecraft mod wants to access your camera.</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>A Minecraft mod wants to access your microphone.</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSExceptionDomains</key>
            <dict>
                <key>minecraft.net</key>
                <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
