@font-face {
    font-family: 'Press Start 2P';
    src: url('font/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    font-family: 'Press Start 2P', serif;
    color: var(--font-color);
    text-shadow: 2px 2px var(--font-color-text-shadow);
}

*:focus {
    outline: none;
}

img {
    pointer-events: none !important;
}

body {
    background-color: var(--background-color);
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    --primary-color: #00afe8;
    --secondary-color: #00afe8;
    --primary-color-text-shadow: #094f86;
    --secondary-color-text-shadow: #094f86;
    --hover-color: #e1d1a9;
    --hover-color-text-shadow: #4f4732;
    --background-color: #F8F8F8;
    --background-contrast-color: #e7e7e7;
    --font-color: #161616;
    --font-color-text-shadow: #d0d0d0;
    --font-color-disabled: #858585;
    --dev-font-color: rgb(194, 165, 0);
    --dev-font-color-text-shadow: rgb(170, 144, 0);
    --green-text: #00cc00;
    --green-text-shadow: #086b08;
    transition: background-color 0.2s;
}

body.dark-mode {
    --primary-color: #00afe8;
    --secondary-color: #6163ff;
    --primary-color-text-shadow: #0d4754;
    --secondary-color-text-shadow: #18193b;
    --hover-color: #f4e4bd;
    --hover-color-text-shadow: #c5a7a7;
    --background-color: #1a191c;
    --background-contrast-color: #222126;
    --font-color: #e8e8e8;
    --font-color-text-shadow: #7a7777;
    --font-color-disabled: #878787;
    --dev-font-color: gold;
    --dev-font-color-text-shadow: rgb(189, 161, 2);
    --green-text: #00ff00;
    --green-text-shadow: #086b08;
}

.red-text {
    color: red;
    text-shadow: 2px 2px #460000 !important;
}

.red-text-clickable {
    color: red;
    text-shadow: 2px 2px #460000 !important;
    cursor: pointer;
}

.green-text {
    color: var(--green-text);
    text-shadow: 2px 2px var(--green-text-shadow) !important;
}

.green-text-clickable {
    color: var(--green-text);
    text-shadow: 2px 2px var(--green-text-shadow) !important;
    cursor: pointer;
}

.primary-text {
    color: var(--primary-color);
    text-shadow: 2px 2px var(--primary-color-text-shadow) !important;
}

.green-text {
    color: var(--green-text);
    text-shadow: 2px 2px var(--green-text-shadow) !important;
}